<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean name="speakerRepository" class="com.manal.repository.HibernateSpeakerRepositoryImpl"/>

<!--  because we are referring to the speakerService, and we have a bean
named speakerRepository, it's going to refer to setSpeakerRepository which is the setter name
inside our SpeakerServiceImpl-->
  <bean name="speakerService" class = "com.manal.service.SpeakerServiceImpl" autowire="byName">
    <!--    they are 0 based, meaning if we have multiple arguments we're going to pass in
         we'll have 0,1,2...; so we start with 0 -->
<!--    <constructor-arg index="0" ref="speakerRepository"/>-->
  </bean>

</beans>